<section class="blog-section" id="blog">
    <div class="container">
        <img src="./images/blog.jpg" alt="blog" width="680" />
        <div class="blog-content">
            <p class="about-subtitle">April 16 2020</p>
            <h2 class="about-title">Blog Post One</h2>
            <p class="about-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptate, ipsum dignissimos quae laudantium asperiores nam
                aliquid impedit harum illum dolore explicabo ab dolores itaque
                rerum temporibus doloribus iste maiores deleniti?
            </p>
            <button class="blog-button" type="button">Read Our Blog</button>
        </div>
    </div>
</section>