<section class="favor-section" id="cases">
    <div class="container favor-container">
        <div class="favor-content">
            <p class="favor-title">This is what we do</p>
            <h2 class="favor-main-title">Business Cases</h2>
            <p class="favor-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto, sapiente!
            </p>
        </div>
        <ul class="favor-list">
            <li>
                <img src="./images/cases1.jpg" alt="Team" width="320" />
            </li>
            <li>
                <img src="./images/cases3.jpg" alt="Diagrams" width="320" />
            </li>
            <li>
                <img src="./images/cases5.jpg" alt="Greeting" width="320" />
            </li>
            <li>
                <img src="./images/cases7.jpg" alt="Supporting" width="320" />
            </li>
            <li><img src="./images/cases2.jpg" alt="Laptop" width="320" /></li>
            <li>
                <img src="./images/cases4.jpg" alt="Skyscrapers" width="320" />
            </li>
            <li>
                <img src="./images/cases6.jpg" alt="Team Leader" width="320" />
            </li>
            <li>
                <img src="./images/cases8.jpg" alt="Friendly atmosphere" width="320" />
            </li>
        </ul>
    </div>
</section>