<footer class="footer">
    <div class="container">
        <div class="footer__icons">
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </a>
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-yotube"></use>
                </svg>
            </a>
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="31" height="35">
                    <use href="./images/symbol-defs.svg#icon-in"></use>
                </svg>
            </a>
        </div>
        <span class="footer__text">Copyright © 2021 - FinanceLedger</span>
    </div>
</footer>