<section class="callback_section">
    <div class="container">
        <img src="../src/images/Form-image.jpg" alt="The men working on laptop" width="680">
        <form name="callback" class="callback_form" autocomplete="on">
            <h2 class="form_header">Request Callback</h2>
            <label for="name" class="visually-hidden">name</label>
            <input id="name" type="text" class="callback_input" placeholder="Enter your name">
            <label for="mail" class="visually-hidden">mail</label>
            <input id="mail" type="email" class="callback_input" placeholder="Enter email*">
            <button class="form__button" type="submit">Send</button>
        </form>
    </div>
</section>