<header>
  <nav class="header-nav container">
    <a class="logo link" href="/">
      <svg class="logo-icon" width="40" height="35">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
      <span class="logo-accent">Finance</span> Ledger</a
    >
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link link" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="#cases">Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="#blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" href="#cantact">Contact</a>
      </li>
    </ul>
  </nav>
  <div>
    <p> \ </p>
  </div>
</header>
