<section class="services-section" id="about">
  <div class="container services-container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services-list">
      <li class="services-item">
        <div class="services-icon-container">
          <svg width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-icon1"></use>
          </svg>
        </div>
        <h3 class="services-list-title">Investmant banking</h3>
        <p class="">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
        <img src="./images/img1.svg" alt="Bank" />
      </li>
      <li class="services-item">
        <div class="services-icon-container">
          <svg width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-icon3"></use>
          </svg>
        </div>
        <h3 class="services-list-title">Portfolio manager</h3>
        <p class="">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
        <img src="./images/img2.svg" alt="Portfolio" />
      </li>
      <li class="services-item">
        <div class="services-icon-container">
          <svg width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-icon2"></use>
          </svg>
        </div>
        <h3 class="services-list-title">Tax & custudio</h3>
        <p class="">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
        <img src="./images/img3.svg" alt="Pen" />
      </li>
    </ul>
  </div>
</section>
