<section class="team-section">
    <div class="container team__position">
        <div class="team-container">
            <p class="favor-title">Who we are</p>
            <h2 class="favor-main-title">Our Professional Team</h2>
            <p class="favor-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Architecto, sapiente!
            </p>
        </div>
        <ul class="team-list">
            <li>
                <img class="team-photo" src="./images/person1.jpg" alt="John Doe" width="420" />
                <h3 class="team-leader">John Doe</h3>
                <p class="favor-text">President</p>
            </li>
            <li>
                <img class="team-photo" src="./images/person2.jpg" alt="Jane Doe" width="420" />
                <h3 class="team-leader">Jane Doe</h3>
                <p class="favor-text">Vice President</p>
            </li>
            <li>
                <img class="team-photo" src="./images/person3.jpg" alt="Steve Smith" width="420" />
                <h3 class="team-leader">Steve Smith</h3>
                <p class="favor-text">Marketing Head</p>
            </li>
        </ul>
        <div class="team__icons">
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </a>
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-yotube"></use>
                </svg>
            </a>
            <a class="footer__link link" href="/">
                <svg class="footer__icon" width="31" height="35">
                    <use href="./images/symbol-defs.svg#icon-in"></use>
                </svg>
            </a>
        </div>
    </div>
</section>