.footer {
    background-color: $primary-text-color;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 10px;
}

.footer__icon {
    fill: white;
}

.footer__text {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: white;
}